@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
body {
	background: url('../assets/bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	margin: 0;
}

.container {
	background: rgba(0,0,0,0.2);
	width: 100%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	min-height: 100vh;	
	transition: filter 0.2s ease-in;
	text-align: center;
	/*animation: blurr 0.9s ease-in;*/
}

/*@keyframes blurr{
	0% {
		filter: blur(2px);
	}
	100% {
		filter: blur(0px);
	}
}*/
.inverti {
	filter: invert(90%);
}
.container {
	font-family: 'Gloria Hallelujah', cursive;
	/*font-family: 'Anonymous Pro', monospace;*/
	font-size: 4em;
	/*transform: translateY(-35px);*/
	/*background: rgba(255,0,0,0.8);*/
	/*padding: 0 24px;*/
	/*background: rgba(255,255,255,0.4);*/
}

.icons {
	display: flex;
	justify-content: space-around;
}

.ico {
	width: 48px;
	height: 48px;
}